.big-card {
  height: 100%;
  display: flex;
  border-radius: 8px !important;
  &__image {
    max-width: 368px;
    cursor: pointer;
  }
  &__text-wrap {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    .v-card__text {
      padding: 0;
    }
    .dots-btn {
      border-radius: 50px;
    }
  }

  .slick-wrap {
    padding-left: 40px;
    width: 100%;
    .slick-slide {
      cursor: pointer;
      margin-left: 16px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }

  .big-card__text {
    padding: 50px 57px 23px 40px;
    .big-card__title {
      font-size: 32px;
      line-height: 24px;
      letter-spacing: -0.225px;
      font-family: "HelveticaNeue-Medium";
      color: #100e0b;
      margin-bottom: 8px;
      a {
        padding: 0 !important;
        min-width: unset;
        height: unset;
        font-size: 32px;
        line-height: 24px;
        letter-spacing: -0.225px;
      }
    }
    .big-card__subtitle {
      line-height: 16px;
      color: #a4a8b2;
      letter-spacing: -0.15px;
      font-family: "HelveticaNeue";
      font-size: 12px;
      padding-bottom: 19px;
      margin-bottom: 0;
    }
    .big-card__description {
      line-height: 18px;
      letter-spacing: -0.1625px;
      color: #85878c;
      font-family: "HelveticaNeue";
      font-size: 13px;
    }
  }

  &__buttons {
    margin-top: 16px;
    margin-bottom: 66px;
    .order-btn {
      width: 192px;
      padding: 0 20px;
      margin-right: 20px;
      height: 47px !important;
      span {
        font-family: "HelveticaNeue-Bold";
      }
    }
    .dots-btn {
      height: 48px;
      width: 46px;
    }
  }

  &__bg-icons {
    border-top: 1px solid #f2f2f2;
    padding: 0px 40px 0px 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #adaeb0;
    .v-btn--icon.v-size--default .v-icon {
      font-size: 19px;
      color: #adaeb0;
    }
    .big-card__icon {
      margin-right: 63px;
    }
    button {
      span {
        font-size: 11px;
        color: #adaeb0;
        font-family: "HelveticaNeue";
        line-height: 17px;
        letter-spacing: -0.1625px;
      }
    }
  }
  .v-card__actions {
    .v-btn--icon.v-size--default {
      height: 45px;
      width: 45px;
    }
  }
}

// .v-card__actions {
//   padding: 8px 40px 8px 40px;
// }
